body{
    background-color: lightsteelblue;
    font-family: "montserrat-bold", sans-serif;
    
}
.contenedor{
   
    padding: 5%;
  
    
    

}

.header{
    
    padding: 20px;
    display: flex;
    justify-content: space-around;

    
}
.photograph{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  
 
}

.photographBruno{
  border-radius: 50%;

}

.about{

  padding: 1%;
  display: flex;
  flex-direction: column;
}

.aboutme{
 
  font-family: "mtext-transform: uppercase";
  letter-spacing: .20rem;
  padding: 0px;
     

}

.profile{
  
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 20px;


}

.profileLic{
    
    padding: 0px;
    font-size: 20px;
    
    
   
}



.content{
    
    padding: 100px;

}


.download-container {
    display: flex;
    justify-content: flex-end;
   align-content: flex-end;
   padding: 0px;
   position: absolute;
   left: 1%;
   top: 3%;
  }
    
  .download{
    background-color:grey;
    border: none;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
  }



 
/* ------------------------------------------------------------------- 
* ## navigation - (_site-layout.scss) 
* ------------------------------------------------------------------- */

.header-nav-wrap {
    font-family: "montserrat-bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .20rem;
    position: relative;
    top: 9px;
    right: 50px;
    
  }
  
  .header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
  }
  
  .header-nav li {
    display: inline-block;
    
    margin-right: 10rem;
    
  }
  
  .header-nav li a {
    display: block;
    line-height: 72px;
    color: #FFFFFF;
  }
  
  .header-nav li.current a {
    font-family: "montserrat-extrabold", sans-serif;
    color: grey;
  }
  
  .title{
    letter-spacing: .20rem;

  }

  .education{
    
    display: flex;
    justify-content:space-between;
  }

  .education1{
    
    display: flex;
    justify-content:space-between;
    position: relative; 
    top: -30px;
      
  }

  /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px), 
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px), 
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-resolution: 192dpi)and (max-width:640px) {
 /* Styles */
}

/* ===================================================================
 * # footer - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

 footer {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  padding: 6.6rem 0 4.2rem;
  text-align: center;
  color: grey;
}

footer a, footer a:visited {
  color: #862121;
}

footer a:hover, footer a:focus {
  color: red;
}

.footer-logo {
  display: inline-block;
}

.footer-site-logo {
  display: block;
  width: 130px;
}

.footer-social {
  list-style: none;
  margin-top: 3rem;
  margin-left: 0;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.footer-social:after {
  content: "";
  display: table;
  clear: both;
}

.footer-social li {
  display: inline-block;
  padding-left: 0;
  margin-right: .9rem;
  line-height: 3.9rem;
  vertical-align: middle;
}

.footer-social li::after {
  content: "|";
  color: rgba(255, 255, 255, 0.15);
  padding-left: .9rem;
}

.footer-social li i {
  font-size: 1.7rem;
  line-height: 3rem;
  vertical-align: middle;
}

.footer-social li span {
  margin-left: .6rem;
}

.footer-social li a {
  color: #FFFFFF;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li:last-child::after {
  display: none;
}

.footer-bottom {
  margin-top: 7.2rem;
  text-align: center;
}

.footer-bottom .copyright span {
  display: inline-block;
}

.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
  display: none;
}


/* ------------------------------------------------------------------- 
* ## go to top
* ------------------------------------------------------------------- */

.go-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 600;
  display: none;
}

.go-top a, .go-top a:visited {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: black;
  color: red;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-top a i, .go-top a:visited i {
  font-size: 12px;
  line-height: inherit;
}

.go-top a:hover, .go-top a:focus {
  color: #FFFFFF;
}


  #more {
    display: none;
};

.contacto{
  border: solid 1px red;
display: flex;
flex-direction: column;

}

.myInput{
  border: solid 1px black;
  display: flex;
  flex-direction: column;

}

.divc {
  display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
  content: '';
	border-top: 8px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
	color: white;

}