body{
    background-color: lightsteelblue;
    font-family: "montserrat-bold", sans-serif;
    
}


.contenedor{
  padding: 4%;
  width: 980px;
  margin: 0 auto;
  margin-top: 40px;    
  width: 100%;
  padding-left: 23px;
  flex-direction: column-reverse;
}


.header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

.photograph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;    
}

.photographBruno{
  border-radius: 50%;
}

.about{
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.aboutme{
  font-family: "mtext-transform: uppercase";
  letter-spacing: .20rem;
  padding: 0px;
 }

.profile{
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 20px;

}

.profileLic{
    padding: 0px;
    font-size: 20px;
}


.content{
    padding: 100px;
}

.download-container {
    display: flex;
    justify-content: flex-end;
   align-content: flex-end;
   padding: 0px;
   position: absolute;
   left: 1%;
   top: 3%;
  }
    
  .download{
    background-color:grey;
    border: none;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
  }


 /* Header*/

.header-nav-wrap {
    font-family: "montserrat-bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .20rem;
    position: relative;
    text-align: center;
     
  }
  
  .header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 50px;
  }
  
  .header-nav li {
    display: inline-block;
    margin-right: 10rem;
  }
  
  .header-nav li a {
    display: block;
    line-height: 72px;
    color: #FFFFFF;
  }
  
  .header-nav li.current a {
    font-family: "montserrat-extrabold", sans-serif;
    color: grey;
  }
  
  .title{
    letter-spacing: .20rem;
  }

  .education{
    display: flex;
    justify-content:space-between;
  }

  .education1{
    display: flex;
    justify-content:space-between;
    position: relative; 
    top: -30px;
  }
 

/* FOOTER */

 footer {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  padding: 6.6rem 0 4.2rem;
  text-align: center;
  color: grey;
}

footer a, footer a:visited {
  color: #862121;
}

footer a:hover, footer a:focus {
  color: red;
}

.footer-logo {
  display: inline-block;
}

.footer-social {
  list-style: none;
  margin-top: 3rem;
  margin-left: 0;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.footer-social:after {
  content: "";
  display: table;
  clear: both;
}

.footer-social li {
  display: inline-block;
  padding-left: 0;
  margin-right: .9rem;
  line-height: 3.9rem;
  vertical-align: middle;
}

.footer-social li::after {
  content: "|";
  color: rgba(255, 255, 255, 0.15);
  padding-left: .9rem;
}

.footer-social li i {
  font-size: 1.7rem;
  line-height: 3rem;
  vertical-align: middle;
}

.footer-social li span {
  margin-left: .6rem;
}

.footer-social li a {
  color: #FFFFFF;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li:last-child::after {
  display: none;
}

.footer-bottom {
  margin-top: 7.2rem;
  text-align: center;
}

  #more {
    display: none;
};

.contacto{
  border: solid 1px red;
display: flex;
flex-direction: column;

}

.myInput{
  border: solid 1px black;
  display: flex;
  flex-direction: column;

}

.divc {
  display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
  content: '';
	border-top: 8px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
	color: white;

}